

.moo_cck {
    
}
.moo_cck:hover {
    outline: 1px dotted #ccc;
}
.moo_cck.loading {
    content: "Loading ...";
}


/**
 * Form
 */

.moo_cck .module.form label {
    display: block;
}
.moo_cck .module.form input[type=text],
.moo_cck .module.form textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
}